@tailwind base;
@tailwind components;
@tailwind utilities;

.index-head {
  width: 100%;
  position: relative;
  height: 300px;
  background-image: url("head-campus.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.inscription-body{
  width:70%;
  margin:auto;
}

.input-row{
  display:flex;
  justify-content: space-around;
  width:100%;
  margin:20px;
}
.input-col{
  width:30%;
  display: flex;
  justify-content: space-around;
}
.input-col div{
  padding:5px;
  border:2px solid #CC0066;
  height:30px;
  align-items: center;
  position:relative;
  width:200px;
}
.input-col i{
  margin-right:15px;
  color:orange;
  font-size:26px;
}
.input-row input{
  border:none;
  background:none;
  position:absolute;
  top:5px;
  height:30px;
  left:30px;
}
.inscription-body h2{
  text-align: center;
}
.envoie{
  text-align: center;
}
.envoie button{
  background:orange;
  border:none;
  border-radius: 8px;
  color:WHITE;
  font-weight: bold;
  padding:10px;
  font-size:24px;
  margin-bottom: 30px;
}

.index-head h1 {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 52px !important;
}

.index-head p {
  position: absolute;
  top: 100px;
  left: 40px;
}

.campus-presentation {
  text-align: center;
}
table{
  width:90%;
  margin:auto;
  margin-top:30px;
  margin-bottom: 30px;
  background-color: white;
}
td{
  border:1px solid black;
  min-height:200px;
  padding:20px;
}
.row td{
  width:20%;
}
table h2{
  font-weight:bold;
  font-size: 28px;
  color: #CC0066;
  margin-bottom: 10px;
}
td li{
  margin-bottom: 15px;
}
