<div id="add-button-research-bar-container">
  <h1>ALed</h1>
</div>

<ul>
  {{#each users}}
    <li>
      <p>Nom : {{this.lastName}}</p>
      <br>
      <p>Prénom : {{this.firstName}}</p>
      <br>
      <p>Email : {{this.email}}</p>
    </li>
  {{/each}}
</ul>